footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  .slider {
    font-size: var(--font-md);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      height: var(--font-sm);
    }
  }

  .footer__details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  footer {
    .slider {
      font-size: var(--font-lg);

      svg {
        height: var(--font-md);
      }
    }

    .footer__details {
      flex-direction: row;
      div {
        width: 30%;
      }
    }
  }
}
