footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;

  .slider__container {
    width: 100%;
    height: var(--font-lg);
    overflow: hidden;
    font-size: var(--font-lg);
  }
  .slider__container .slider__text {
    position: absolute;
    width: 400px;
    text-align: center;
  }
  .slider__container .slider {
    position: relative;
    left: -400px;
  }

  .footer__details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 16rem 0;
  }
}

@media (min-width: 1024px) {
  footer {
    .footer__details {
      flex-direction: row;
      font-size: var(--font-sm);
    }
  }
}
