header {
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 10vh;
}

.header__logo {
  position: relative;
  z-index: 6;
}

.burger__menu {
  position: relative;
  cursor: pointer;
  z-index: 6;

  .line {
    background-color: var(--black);
    width: 2rem;
    height: 2px;
    margin: 4px 0;
  }
}

.main__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: var(--white);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  // transform: translateY(-100%);
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
  z-index: 5;
  text-transform: lowercase;
  font-style: italic;
  font-size: var(--font-md);

  .nav__item {
    padding: 2rem 0;
    overflow: hidden;
    position: relative;

    a {
      display: block;
    }

    &:after {
      display: block;
      content: '';
      height: 2px;
      background-color: var(--black);
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateX(-101%);
    }

    &:hover::after {
      transition: transform 0.3s ease-out;
      transform: translateX(0);
    }

    &.animate-out::after {
      transition: transform 0.3s ease-out;
      transform: translateX(100%);
    }
  }
}

@media (min-width: 1024px) {
  .nav__menu {
    font-size: var(--font-lg);
  }
}
