.hero__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
  padding-bottom: 1rem;

  h1 {
    font-size: var(--font-xl);
    padding-bottom: 1rem;
  }

  h3 {
    font-size: var(--font-xs);
  }
}

.hero__img {
  figure {
    height: 70vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (min-width: 900px) {
  .hero__img {
    figure {
      height: 80vh;
    }
  }
}

@media (min-width: 1024px) {
  .hero__img {
    figure {
      height: 95vh;
    }
  }
}

@media (min-width: 1200px) {
  .hero__img {
    figure {
      height: 110vh;
    }
  }
}
