@import './reset';

::-webkit-scrollbar {
  display: none;
}

:root {
  --font-family: 'Playfair Display', serif;
  --black: #000;
  --white: #fff;

  --font-xs: 1rem;
  --font-sm: 1.5rem;
  --font-md: 2rem;
  --font-lg: 3rem;
  --font-xl: 6rem;
}

body {
  position: relative;
}

@media (min-width: 550px) {
  :root {
    --font-xl: 8rem;
  }
}
@media (min-width: 900px) {
  :root {
    --font-xl: 9rem;
  }
}
@media (min-width: 1024px) {
  .scrollbar-track {
    background-color: var(--white);
  }

  .scrollbar-thumb {
    background-color: var(--black);
    width: 0.25rem;
  }

  #scroll__content {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-xl: 10rem;
  }
}
@media (min-width: 1366px) {
  :root {
    --font-xl: 12rem;
  }
}

body {
  font-family: var(--font-family);
  text-transform: uppercase;
  color: var(--black);
  overflow-x: hidden;

  &.nav--open {
    overflow-y: hidden;
  }
}

@import './header';
@import './hero';
@import './main';
@import './footer';
